.main_container {
  /* border: 1px solid red; */
  width: 30%;
  height: 100vh;
  padding: 20px;
  /* overflow-y: scroll; */
  
}
.search__box {
  /* border: 1px solid red; */
  height: 60px;

}
.search__box > input {
  width: 100%;
  background-color: var(--chat-color-secondary);
  padding: 10px;
  border-radius: 10px;
  outline: none;
}

.all__chats{
  /* border: 1px solid red; */
  overflow-y: scroll;
  height: calc(100% - 60px);
}

.all__chats::-webkit-scrollbar {
  width: 7px;
  display: block;
}

.all__chats::-webkit-scrollbar-track {
  background: var(--chat-color-secondary);
}

.all__chats::-webkit-scrollbar-thumb {
  background: var(--icons-bg-color);
  border-radius: 10px;
}

.all__chats::-webkit-scrollbar-thumb:hover {
  background: var(--color-white);
}

.single__chat {
  /* border: 1px solid red; */
  width: 90%;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  color: var(--color-white);
  border-radius: 15px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 5px 0;
}
.single__chat:hover {
  background: var(--chat-color-secondary);
}
.single__chat img {
  border-radius: 10px;
}

.single__chat p {
  margin: 0 15px;
  text-transform: capitalize;
}
