.main__container {
  /* border: 1px solid red; */
  width: 70%;
  padding: 10px 0;
  height: 100vh;
}

.chat__header {
  /* border: 1px solid red; */
  border-radius: 10px;
  height: 60px;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 600;
  color: var(--color-white);
  display: flex;
  align-items: center;
  background-color: var(--chat-color-secondary);

}

.chat__header > div {
  width: 50%;
}
.chat__user__container {
  padding-left: 20px;
}
.chat__controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 22px;
}
.chat__controls > * {
  cursor: pointer;
  color: var(--icons-bg-color);
  transition: 0.2s ease-in;
}
.chat__controls > *:hover {
  cursor: pointer;
  color: var(--color-white);
}
.chat__box__container {
  /* border: 1px solid red; */
  padding: 10px 20px;
  height: calc(100% - 60px);
}
.chat__messages,
.chat__loading {
  /* border: 1px solid red; */
  padding: 10px 10px 10px 10px;
  color: white;
  height: calc(100% - 60px);
}

.chat__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}
.input__container {
  border: 1px solid var(--icons-bg-color);
  border-radius: 10px;
  padding: 10px;
  height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
}
.input__container > :first-child {
  color: var(--icons-bg-color);
  cursor: pointer;
  font-size: 20px;
}
.input__container > input {
  padding: 5px 10px;
  width: 80%;
  background-color: transparent;
  outline: none;
}
